.Statistics {

  box-shadow: 1px 1px 5px grey;

  .top {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .bottom {
    s-box {
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
      justify-content: space-between;
    }

    .infected {
      background-color: 	#ffd1b2;
      font-weight: 700;
    }

    .recovered {
      background-color: 	#d0f2ce;
      font-weight: 700;
    }

    .deceased {
      background-color: 	#ffc7c7;
      font-weight: 700;
    }
  }
}