.Nav {
  border-bottom: 1px solid #c4c4c4;
  background-color: white;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;

  h1, h3 {
    display: inline;
    cursor: pointer;
  }
}